@keyframes slide-sidebar {
	0% {
		transform: translateY(100px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes shiny-btn1 {
	0% {
		-webkit-transform: scale(0) rotate(45deg);
		opacity: 0;
	}

	80% {
		-webkit-transform: scale(0) rotate(45deg);
		opacity: 0.5;
	}
	81% {
		-webkit-transform: scale(4) rotate(45deg);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(50) rotate(45deg);
		opacity: 0;
	}
}

.nav_logo_link {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.nav_links {
	font-size: 20px;
	font-weight: 500;
	margin-left: 25px;
	color: #00000098;
}

.nav_links:hover {
	color: #000000;
	transition: all 0.3s ease-in-out;
}

.lang_option {
	background: none;
	border: none;
	margin-right: 40px;
	outline: none;
	font-size: 20px;
	color: #000000a6;
	font-weight: 600;
	border: 2px solid #0000007a;
	padding: 5px 7px;
	border-radius: 10px;
	margin-left: 10px;
}

.sidebar {
	animation: slide-sidebar 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.btn_11_nav {
	border: none;
	background: #04a2ba;
	background: linear-gradient(0deg, #04a2ba);
	color: #fff;
	overflow: hidden;
	height: 60px;
	border-radius: 25px;
	padding: 10px 25px;
	font-weight: 500;
	font-size: 20px;
	cursor: pointer;
	transition: all 0.3s ease;
	font-family: Unbounded;
	position: relative;
	outline: none;
}

.btn_11_nav:active {
	box-shadow: 4px 4px 6px #ffffff4d, -4px -4px 6px #747d8833,
		inset -4px -4px 6px #fff3, inset 4px 4px 6px #0003;
}

.btn_11_nav:hover {
	opacity: 0.7;
}

.btn_11_nav:hover {
	text-decoration: none;
	color: #fff;
}

.btn_11_nav:before {
	position: absolute;
	content: '';
	top: -180px;
	left: 0;
	width: 30px;
	height: 100%;
	background-color: #fff;
	animation: shiny-btn1 3s ease-in-out infinite;
}

@media (max-width: 1100px) {
	.lang_option {
		font-size: 18px;
	}
	.nav_links {
		font-size: 19px;
	}
}

@media (max-width: 740px) {
	.nav_logo_link {
		width: 100px;
		height: 55px;
	}
}

@media (max-width: 500px) {
	.nav_links {
		margin-left: 10px;
		justify-content: center;
		align-items: center;
	}

	.nav_links:first-child {
		margin-left: -10px;
	}

	.lang_option {
		margin-right: 10px;
		font-size: 15px;
		font-weight: 400;
		padding: 3px 5px;
		margin-left: 8px;
	}
	.nav_logo_link {
		width: 130px;
		height: 35px;
		margin-right: 2rem;
	}
}
